/*:root{*/
/*  --primary-color: #EE693F;*/
/*  --secondary-color: #F69454;*/
/*  --third-color: #739F3D;*/
/*  --background-color: #FCFDFE;*/
/*}*/
:root{
  --primary-color: #257985;
  --secondary-color: #5ea8a7;
  --background-color: #ededed;
  --danger-color: #b57e7e;
  --success-color: #54a88f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
